site_name: MolViewStories Documentation
theme:
  name: material

  # 404 page
  static_templates:
    - 404.html

  # Necessary for search to work properly
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
# Scripts for rendering Latex equations (in addition to pymdownx.arithmatex):
extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
nav:
  - Introduction: 'index.md'
  - Getting Started: 'getting-started.md'
  - First Time Login: 'first-time-login.md'
  - Core Features: 'core-features.md'
  - Tips & Shortcuts: 'faq-troubleshooting.md'
  - CLI: 'cli.md'
  - FAQ & Troubleshooting: 'faq-troubleshooting.md'

repo_url: https://github.com/molstar/mol-view-stories
